# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
.env.*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build / Dist
build/
dist/

# Data / Artifacts
/data/
/outputs/

# LaTeX
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
